Understanding of absolute innocense (that all are innocent without question, at depth - i.e. any action is a sum of parts, even if repeatedly consuming a life as a host)
Recycling/zerowaste awareness
Vegan living
